<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <httpRequestBegin>
        <processor type="Sitecore.ItemWebApi.Pipelines.HttpRequest.LaunchRequest, Sitecore.ItemWebApi">
          <patch:delete />
        </processor>
        <processor type="Mindtree.ItemWebApi.Pipelines.HttpRequest.LaunchRequest, Mindtree.Sitecore.ItemWebApi.Pipelines" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']" />
      </httpRequestBegin>
      <itemWebApiCreateVersion>
        <processor type="Mindtree.ItemWebApi.Pipelines.Version.Create.Create, Mindtree.Sitecore.ItemWebApi.Pipelines" />
        <processor type="Mindtree.ItemWebApi.Pipelines.Version.Create.TryUpdate, Mindtree.Sitecore.ItemWebApi.Pipelines" />
        <processor type="Mindtree.ItemWebApi.Pipelines.Version.Create.SetResult, Mindtree.Sitecore.ItemWebApi.Pipelines" />
      </itemWebApiCreateVersion>
      <itemWebApiCreateAdvance>
        <processor type="Mindtree.ItemWebApi.Pipelines.Advance.Create.CreateItem, Mindtree.Sitecore.ItemWebApi.Pipelines" />
        <processor type="Mindtree.ItemWebApi.Pipelines.Advance.Create.TryUpdate, Mindtree.Sitecore.ItemWebApi.Pipelines" />
        <processor type="Mindtree.ItemWebApi.Pipelines.Advance.Create.SetResult, Mindtree.Sitecore.ItemWebApi.Pipelines" />
      </itemWebApiCreateAdvance>
      <itemWebApiRequest>
        <processor type="Sitecore.ItemWebApi.Pipelines.Request.CheckParameters, Sitecore.ItemWebApi">
          <parameters hint="list">
            <name patch:after="*[@desc='item id13']" desc="item id14">sc_itemversion</name>
            <name patch:after="*[@desc='item id14']" desc="item id15">RetainID</name>
            <name patch:after="*[@desc='item id15']" desc="item id16">ExtractBlob</name>
            <name patch:after="*[@desc='item id16']" desc="item id17">items</name>
          </parameters>
        </processor>
        <processor type="Sitecore.ItemWebApi.Pipelines.Request.HandleItemNotFound, Sitecore.ItemWebApi">
          <patch:delete />
        </processor>
        <processor type="Mindtree.ItemWebApi.Pipelines.Request.HandleItemNotFound, Mindtree.Sitecore.ItemWebApi.Pipelines" patch:after="processor[@type='Sitecore.ItemWebApi.Pipelines.Request.CheckSecurity, Sitecore.ItemWebApi']"/>
        <processor type="Sitecore.ItemWebApi.Pipelines.Request.ResolveItems, Sitecore.ItemWebApi">
          <patch:delete />
        </processor>
        <processor type="Mindtree.ItemWebApi.Pipelines.Request.ResolveItems, Mindtree.Sitecore.ItemWebApi.Pipelines" patch:before="processor[@type='Sitecore.ItemWebApi.Pipelines.Request.ResolveScope, Sitecore.ItemWebApi']"/>
        <processor type="Sitecore.ItemWebApi.Pipelines.Request.ResolveAction, Sitecore.ItemWebApi">
          <patch:delete />
        </processor>
        <processor type="Mindtree.ItemWebApi.Pipelines.Request.CustomResolveAction, Mindtree.Sitecore.ItemWebApi.Pipelines" patch:before="processor[@type='Sitecore.ItemWebApi.Pipelines.Request.SerializeResponse, Sitecore.ItemWebApi']"/>
      </itemWebApiRequest>
    </pipelines>
    <settings>
      <setting name="ItemWebApi.SaltKey" value="VG$1pIjHR$9pIj86"/>
      <!--Need to provide in seconds and in double type format, Ideal time is 30 minutes but can vary on requirements-->
      <setting name="ItemWebApi.CacheExpirationTime" value="1800.00"/>
    </settings>
  </sitecore>
</configuration>